.fav-movie {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;
}

// img {
//       display: block;
//       height: 200px;
//       margin: auto;
//     }

.fig-caption {
      text-align: center;
      text-decoration: none;
      font-size: 20px;
    }

.button {
    display: block;
    margin: auto;

  }

.card {
  margin-bottom: 15px;
}
